.about {
  margin: 0;
  display: flex;
  padding: 80px 0;
  column-gap: 56px;
}

@media screen and (max-width: 900px) {
  .about {
    padding: 40px 40px 60px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 544px) {
  .about {
    padding: 32px 24px 128px;
    flex-direction: column;
    align-items: center;
  }
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  margin-left: 104px;
}

@media screen and (max-width: 900px) {
  .about__image {
    margin: 0;
    width: 232px;
    height: 232px;
  }
}

@media screen and (max-width: 544px) {
  .about__image {
    width: 272px;
    height: 272px;
  }
}

.about__text-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  padding-top: 50px;
  max-width: 600px;
}

@media screen and (max-width: 900px) {
  .about__text-container {
    row-gap: 16px;
    align-items: flex-start;
    padding: 0;
    max-width: 424px;
  }
}

@media screen and (max-width: 544px) {
  .about__text-container {
    max-width: 288px;
  }
}

.about__title {
  margin: 0;
  font-family: 'Roboto Slab', Courier, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;
}

@media screen and (max-width: 900px) {
  .about__title {
    font-size: 30px;
    line-height: 1.33;
  }
}

.about__description {
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  text-align: left;
  font-size: 18px;
  line-height: 1.33;
}
