.search-form {
  position: relative;
}

@media screen and (max-width: 544px) {
  .search-form {
    position: static;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}

.search-form__input {
  width: 608px;
  height: 64px;
  padding-left: 24px;
  box-sizing: content-box;
  background-color: #fff;
  border-radius: 100px;
  border: none;
}

@media screen and (max-width: 900px) {
  .search-form__input {
    width: 448px;
    height: 56px;
  }
}

@media screen and (max-width: 544px) {
  .search-form__input {
    position: static;
    box-sizing: border-box;
    padding-left: 16px;
    width: 288px;
    height: 56px;
  }
}

.search-form__input:focus {
  outline: none;
  background-color: #fff;
}

.search-form__input::placeholder {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: rgba(182, 188, 191, 1);
}

.search-form__submit {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  height: 66px;
  width: 128px;
  padding: 0;
  color: #fff;
  background-color: rgba(47, 113, 229, 1);
  border-radius: 100px;
  border: none;
}

.search-form__submit:hover {
  cursor: pointer;
  background-color: rgba(52, 126, 255, 1);
}

.search-form__submit:active {
  background-color: rgba(42, 101, 204, 1);
}

.search-form__submit_disabled {
  background-color: rgba(230, 232, 235, 1);
  color: rgba(182, 188, 191, 1);
}

@media screen and (max-width: 900px) {
  .search-form__submit {
    height: 58px;
    width: 160px;
    padding: 0;
  }
}

@media screen and (max-width: 544px) {
  .search-form__submit {
    position: static;
    height: 56px;
    width: 288px;
  }
}
