.registration-success {
  grid-area: content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 430px;
  border-radius: 16px;
}

@media screen and (max-width: 544px) {
  .registration-success {
    width: 320px;
  }
}

.registration-success__title {
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.1;
  padding: 44px 80px 14px 36px;
}

@media screen and (max-width: 544px) {
  .registration-success__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.1;
    padding: 34px 16px 14px;
  }
}

.registration-success__link {
  margin: 0;
  font-family: 'Inter', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  padding: 0 0 50px 36px;
  color: rgba(47, 113, 229, 1);
  text-decoration: none;
  background-color: transparent;
  border: none;
  text-align: left;
}

@media screen and (max-width: 544px) {
  .registration-success__link {
    font-size: 14px;
    line-height: 1.22;
    padding: 0 0 38px 16px;
  }
}
