.nav {
    display: flex;
    column-gap: 76px;
    align-items: center;
    font-family: 'Roboto', serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
}

@media screen and (max-width: 900px) {
    .nav {
        column-gap: 16px;
        font-size: 16px;
        line-height: 1.5;
    }
}

.nav__link {
    margin: 0;
    text-decoration: none;
    color: #fff;
}; 

.nav__button {
    color: #fff;
    text-decoration: none;
    border: solid 1px #fff;
    background-color: transparent;
    border-radius: 100px;
}

.nav__button__icon {
    height: 16px;
    width: 18px;
    padding-left: 20px;
}

@media screen and (max-width: 900px) {
    .nav__button__icon {
        padding-left: 17px;
    }
}